a {
  text-decoration: none;
}

.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.chat-header {
  margin-bottom: 20px;
}

.chat-messages {
  overflow-y: auto;
  max-height: 60vh;
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.chat-input {
  display: flex;
  align-items: center;
  width: 80%;
  margin-top: 20px;
}

.chat-input > * {
  margin-right: 10px;
}

.chat-input button {
  flex-shrink: 0;
}

.container {
  position: relative;
  display: inline-block;
}

.copy-icon {
  display: none;
  position: absolute;
  top: -20px; /* Adjust as needed */
  left: 0;
  cursor: pointer;
}

.text:hover + .copy-icon {
  display: inline-block;
}

.chat-name {
    cursor: pointer;
}

.chat-name:hover {
  transition: box-shadow 0.3s ease-in-out;
  background: white;
  text-decoration: none;
  color: #73ABAD;
}
